*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Roboto', sans-serif;
}
.menu{

}
.menu{

}
.menu-item{
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(0, 0,0, 0.5);
    width: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    left: 100px;
}

.menu-sub{
    
    position: absolute;
    left: 100%;
    width: 200px;
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(0, 0,0, 0.5);
    display: none;
}


.menu-sub > ul li{
    height: 27px;
    line-height: 27px;
    
    
}
.menu3 ul,
.menu2 ul{
    list-style-type: none;
    
}

ul li>a,
.menu-item > a{
    text-decoration: none;
    font-size: 12px;
    color:#999;
    height: 27px;
    line-height: 27px;
    padding-left: 5px;
}
.menu-icon{
    display: none;
    
}
.menu-item a:hover .menu3,
.menu-item a:hover .menu2,
.menu-item a:hover .menu-icon{
    color: #f27224;
    background-color: antiquewhite;
    display: inline-block;
    
}
.menu-item:hover .menu3,
.menu-item:hover .menu2{
    display:inline-block;
}


