*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}
.menu{
    background-color: royalblue;
    height: 1000px;
}
.menu-item{
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(0, 0,0, 0.5);
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    left: 100px;
}
.menu-list,
.menu-item .menu-sub{
    position: absolute;
    left: 100%;
    display: flex;
    height: 300px;
    width: 200px;
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(0, 0,0, 0.5);
    display: none;

}


.menu2 ul{
    list-style-type: none;
    
}
/* .menu-list >a, */
ul li>a,
.menu-item > a{
    text-decoration: none;
    font-size: 12px;
    color:#999;
    height: 27px;
    line-height: 27px;
    padding-left: 5px;
}
/* .menu-list >li, */
.menu-icon{
    display: none;
    
}
.menu-sub:hover .menu-list,
.menu-item:hover .menu2,
.menu-item a:hover,
.menu-item a:hover .menu-icon{
    color: #f27224;
    background-color: #fff;
    display: inline-block;
    
}



