@media (max-width:522px) {
    #content .content-iteam .content-grid .content-styleIteam .sub-total >a h6,
    #content .content-iteam .content-grid .content-styleIteam .sub-nav a h6{
        font-size: 18px;
    }
    header #header-nav{
        height: 70px;
    }
    header #header-nav .header-icon{
        line-height: 70px;
    }
    header #header-nav .header-logo img{
        width: 70px;
    }
    header #header-nav .header-input .style-input{
        height: 30px;
    }
    header #header-nav .header-input .style-input .header-inputElement{
        padding: 5px;
    }

    #description .tab-list-show .tab-option,
    #form-input .tab-list-show >h3,
    .description-nav .tab-list-show h3{
        font-size: 16px !important;
        font-weight: 600 !important;
    }
    #description .tab-list-show,
    #description .content-text{
        margin: 20px 4%;
    }
    #description .content-text .list-config >ul li .config-nav-size{
        min-width: 38% ;
    }
}
@media  (max-width:767px){
    .sub-text h3 {
        font-weight: 600;
        font-size: 16px;
        margin: 30px 8%;
    }
    header #header-nav .header-input  input{
        padding-right: 0;
        width: 116px;
    }
    header #header-nav .header-icon img {
        margin: 0 0.5em;
        cursor: pointer;
        width: 20px;
        height: 20px;
    }
    section #bandner .bandner-img{
        max-height: 146px;
    }
    section #bandner .sub-text h3{
        margin-top:10%;
    }
    section .flash-sale{
        margin-left: 6%;
    }
    
    section #showIteam .iteam .styleIteam .showIteam-coin .note-Iteam p{
        font-size: 10px;
    }
    header #header-option {
        height: 65px;
        display: flex;
        justify-content: space-between;
    }

    header #header-option .option-bar {
        display: block;
        margin-left: 6%;
    }
    header #header-option .option-icon{
        margin-right: 6%;
    }
    header #header-option .option-icon i,
    header #header-option .option-bar i{
        font-size: 30px;
        line-height: 64px;
        margin: 0 5px;
    }
    #iteam-alike .description-nav .show-grid .iteam-style2,
    section #iteamLap .layout-gridOption,
    header #header-option .option-icon i:nth-child(2),
    header #header-option > ul{
        display: none;
    }
 
    #description .content-text .content-img{
        max-height: 168px;
    }
    #description .tab-list-show .tab-option,
    #form-input .tab-list-show >h3,
    .description-nav .tab-list-show h3{
        font-size: 18px;
        font-weight: 600;
    }
    #description .content-text .list-config >ul li .config-nav-size{
        min-width: 30% ;
    }
    #description .content-text .firt-text >h6{
        font-weight: 500;
    }
    #description .content-text .firt-text >p{
        font-size: 14px;
    }
    #form-input .form-input-list .name-email{
        display: block;
    }
    #form-input .form-input-list .com,
    #form-input .form-input-list .name-email .email{
        margin-top: 20px;
    }
    #form-input .form-input-list .name-email .email input{
        min-width: 100%;
    }

    #iteam-alike .description-nav .show-grid .iteam{
        padding: 0;
    }
    #form-input .form-input-list .submit-form button{
        margin-left: 0;
        width: 100%;
    }
    #iteam-alike .description-nav .show-grid .iteam .styleIteam .showIteam-coin .iteamCoin{
        display: block;
    }
    #iteam-alike .description-nav .show-grid .iteam .styleIteam .showIteam-coin .iteamCoin .sale-iteamCoin{
        margin: 0;
    }
    #iteam-alike .description-nav .show-grid .iteam .styleIteam .showIteam-coin > p:last-child{
        font-size: 10px;
    }
    #description .content-text {
        padding: 20px;
    }
    #render-coment .user-coment {
        margin-bottom: 30px ;
    }
    #render-coment .user-coment .content-text p{
        font-size: 14px;
    }
    #render-coment .user-coment .customer .content-text h5{
        font-size: 18px;
    }
    #content .content-iteam .content-grid .content-styleIteam .img-nav img{
        object-fit: contain;
    }
    .slick-initialized .slick-slide{
        margin:0 4px
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    
    
    header #header-option ul li >a {
        font-size: 18px;
    }
    .sub-text h3{
        font-size: 20px;
        margin: 30px 4% 0;
    }
    #iteam-alike .description-nav .show-grid .iteam .styleIteam .showIteam-coin .iteamCoin{
        display: block;
    }
    #content .content-iteam .content-grid .content-styleIteam .img-nav .img-nav_style{
        height: 50px;
    }
    #content .content-iteam .content-grid .content-styleIteam .sub-total >a p,
    #content .content-iteam .content-grid .content-styleIteam .sub-nav a p{
        font-size: 8px;
    }
    #content .content-iteam .content-grid .content-styleIteam .sub-total >a h6,
    #content .content-iteam .content-grid .content-styleIteam .sub-nav a h6{
        font-size: 16px;
    }
    #content .content-iteam .content-grid .content-styleIteam>img{
        
    }
    #content .content-iteam .content-grid .iteamCoin .sale-iteamCoin p{
        text-decoration: line-through;
    }
    #content .content-iteam .content-grid .content-option .style-option p{
        font-size: 12px;
    }
    #content .content-iteam .content-grid .content-option .style-option{
        padding: 10px 0 ;
    }
    #content .content-iteam .content-grid .content-styleIteam p,
    #content .content-iteam .content-grid .promotion p{
        font-size: 14px;
    }
    #iteam-alike .description-nav .show-grid .iteam{
        padding: 0;
    }
    #iteam-alike .description-nav .show-grid .iteam .styleIteam .saleImg>img{
        height: 125px;
    }
    #iteam-alike .description-nav .show-grid .iteam .styleIteam .showIteam-coin .iteamCoin .sale-iteamCoin{
        margin: 0;
    }
    #form-input .form-input-list .name-email .email input{
        min-width: 308px;
    }
  
}
@media (min-width: 980px) and (max-width: 1200px){
    #iteam-alike .description-nav .show-grid .iteam .styleIteam .showIteam-coin .iteamCoin{
        display: block;
    }
    #iteam-alike .description-nav .show-grid .iteam .styleIteam .showIteam-coin .iteamCoin .sale-iteamCoin{
        margin-left: 0;
    }
    #form-input .form-input-list .name-email .email input{
        min-width: 400px;
    }
}
/* 
@media (min-width: 1201px){
    #form-input .form-input-list .name-email .email input{
        min-width: 350px;
    }
} */